
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$link_color: #673AB7;
$link_active_color: rgb(14, 103, 255);
$link_underline_color: rgba(0,0,0,0.1);
$date_color: #aaa;

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Open+Sans:400italic,700italic,400,700);

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$body_font: 'Open Sans', sans-serif;
$header_font: 'Open Sans', sans-serif;
$code_font: 'Source Code Pro';
$sc_bold_weight: 700;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
